<div class="footerDiv">
	{{#if objEmpty}}
		<h2 class="ftr"><strong>Currently you have no articles saved. You may click "Scrape New Articles" to save some.</strong></h2>
	{{else}}
		<h2 class="ftr"><strong>Enjoy your news!</strong></h2>
	{{/if}}
</div>