<div class="modal-header">
	<h2>Note for article: {{existingNoteObj._id}}</h2>
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">
	<div class="existingNotes">
		{{#if noNoteObj}}
			<div class="modalExistingNoteDiv">
				<p>No notes for this article yet.</p>
			</div>
		{{else}}
			{{#each existingNoteObj}}
				<div class="modalExistingNoteDiv">
					<p>{{existingNoteObj._id}}</p>
					<button type="button" data-id={{this._id}} class="deleteExistingNote btn btn-default"><strong>X</strong>strong></button>
				</div>
			{{/each}}
		{{/if}}
	</div>
	<textarea class="inputNote" rows="4" cols="50"></textarea>
</div>